@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

header {
   background: rgba(98, 81, 224, 0.92);
   width: 100%;
   height: 70px;
}

<<<<<<< HEAD
.components{
  background-color: lightblue;
}
=======
#header-inner {
   max-width: 1200px;
   margin: 0 auto;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   background: #f5f5f5;
   color: #67727a;
   font-family: 'Roboto', sans-serif;
}

h2 {
   text-align: center;
   color: #F5F5F5;
   float: left;
   text-align: center;
   display: inline-block;
   padding: .75em;
}

p {
   font-family: 'Roboto', sans-serif;
   color: #F5F5F5;
   font-size: 160%;
   line-height: 150%;
   padding: 3%;
   text-indent: 2%;
   text-align: justify;
}

a:hover#menu-icon {
   border-radius: 4px 4px 0 0;
}

ul {
   list-style: none;
}

nav ul li{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 100;
   line-height: normal;
   font-size: 150%;
   display: inline-block;
   float: right;
   padding: 15px;
}

nav ul li a {
   color: #F5F5F5;
   text-decoration: none;
}

nav ul li a:hover {
   color: #C3D7DF;
}

.add-video-padding {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 25px 110px;
   

}

.add-video-button {
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 8px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px 10px 30px;
   cursor: pointer;
   height: 50px;
   width: 200px;
   margin-right: 140px;
   font-size: 25px;
}

/**
   Coded by /u/j0be in scss.
   See scss source here -> https://codepen.io/j0be/pen/MKRVyN
*/


.search-container {
   width: 490px;
   display: block;
   margin: 0 auto;
   margin-top: 70px;
}

 input.search-bar {
    width: 75%;
    height: 50px;
    /*padding: 0 10px;*/
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    margin-left: -12px;
    margin-top: -5px;
 }

 input.search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
 }

 input.search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
 }

 input.search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
 }

 input.search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
 }

 .search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: 51px;
 }
